/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

:root {
    --green-color: #7ACC2D;
    --white-color: #FFF;
    --black-color: #000;
}

body,
html {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-left: 20px;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}