/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*--------------Variables */

* {
    box-sizing: border-box;
}

:root {
    --green-color: #7ACC2D;
    --white-color: #FFF;
    --black-color: #000;
}

body,
html {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

label {
    font-size: 12px;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-left: 20px;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}


/*------------- Main section */

.content_initial {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    height: 90px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 20%;
    display: flex;
}

.product {
    padding: 20px;
    margin-top: -290px;
}

.product .content {
    text-align: center;
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: 0 0 10px #c1bcbc;
}

.image_content {
    text-align: center;
}

.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: var(--white-color);
    border: 0;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #5e9e22;
    cursor: pointer;
}


/*------------Benefits */

.benefits_contain {
    padding: 10% 10% 2%;
}

.benefits_contain .benefits {
    display: flex;
}

.img_benefit_contain {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50%;
    max-height: 120px;
}

.img_benefit_contain img {
    width: 100%;
    max-height: 100%;
}

.benefits .benefit {
    padding: 5%;
    text-align: center;
}

.descripcion_benefit_contain {
    margin-top: 1.5em;
}


/*----------mentions*/

hr {
    height: 1px;
    color: #c1bcbc;
    background-color: #c1bcbc;
    border: none;
}

.mentions_contain {
    font-size: 12px;
    padding: 5%;
    text-align: center;
}

.mentions_contain h2 {
    font-size: 2em;
}

.mentions_contain .mentions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.mentions .mention {
    width: 20%;
    margin: 10px;
    box-shadow: 0 3px 6px grey;
}

.mention img {
    width: 100%;
}


/*---------- footer */

footer {
    padding: 0 2em;
    background-color: var(--black-color);
}

.informacion_contain {
    color: white;
    display: flex;
    justify-content: space-between;
}

.informacion_contain p a {
    color: white;
    text-decoration: none;
}

.informacion_contain p a:hover {
    color: var(--green-color)
}


/*-------- products page -----------*/


/*-----------products section */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.normal {
    grid-template-areas: "figure description description";
}

.reverse {
    grid-template-areas: "description description figure";
}

.producto_contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

.image_product_column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_product_contain {
    text-align: center;
    grid-area: figure;
}

.img_product_contain img {
    max-width: 60%;
}

.descripcion_product_contain {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}


/*---------- ventas page ------- */

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: 0 2px 1px #e6e5e9;
    padding: 10px;
}

.modulo_pago_images {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.data {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black-color);
}


/*------ media queries */

@media (max-width: 600px) {
    /*------ productos */
    .content_initial {
        padding: 4%;
    }
    .products {
        display: block;
        height: auto;
    }
    .product {
        margin-top: auto;
    }
    /*------ beneficios */
    .benefits_contain .benefits {
        display: block;
    }
    .descripcion_benefit_contain {
        margin-top: 6em;
    }
    /*------ mentions */
    .mentions_contain .mentions {
        display: block;
    }
    .mentions .mention {
        width: 80%;
        margin: 5% auto;
    }
    .descripcion_mention_contain {
        padding: 2%;
    }
    .producto_contain {
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-self: center;
        grid-gap: .3em;
    }
    .normal,
    .reverse {
        grid-template-areas: "figure" "description";
    }
    .img_product_contain {
        padding: 5%;
    }
    .img_product_contain img {
        width: 40%;
        max-width: 500px;
        max-height: 150px;
    }
    .descripcion_product_contain {
        padding-top: 0;
    }
    .descripcion_product_contain h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 1em;
    }
}